<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>控制血脂最主要的是注意摄食健康饮食，饮食尽量清淡些。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>体重超标，建议规律运动，合理减重，感谢你的提问。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>控制血脂最主要的是注意摄食健康饮食，饮食尽量清淡些。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>体重超标，建议规律运动，合理减重，感谢你的提问。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
		<dict>
			<key>content</key>
			<string>请细化你想解答的健康问题并完善信息，以便我们更好的为你服务。</string>
			<key>isClick</key>
			<string>0</string>
		</dict>
	</array>
</array>
</plist>
